/* Courses.css */

.courses-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.courses-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Adjust gap between course items */
}

.course-item {
    width: calc(30% - 20px); /* Adjust width to fit three items per row with gap */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-item h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.course-item p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.course-item ul {
    padding-left: 20px;
}

.course-item button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
