/* StudentDetails.css */

.student-details-page {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.student-details {
  background: #fff;
  padding: 20px;
  width: 700px;
  height: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.student-details h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  color: #3c009d;
}

.student-details p {
  margin-bottom: 10px;
  font-size: 18px;
}

.student-details .documents {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.student-details .documents img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.student-details button {
  display: block;
  margin: 20px auto 0;
  padding: 12px 24px;
  background-color: #3c009d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.student-details button:hover {
  background-color: #2a007a;
}
